html,
body {
  background: #1d3557;
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Nunito', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Image :hover{
  cursor: pointer;
  filter: grayscale(50%);

}

img:hover {
  outline: 2px solid #f1faee;
}